@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #eef6ff;
    --color-primary-content: #11009e;
    --color-secondary: #3257ff;
}
@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: #eef6ff;
    --color-primary-content: #11009e;
    --color-secondary: #3257ff;
}

* {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

a.active {
    color: #3257ff;
}